body{
    background: rgb(2,0,36);
background: linear-gradient(233deg, rgba(2,0,36,1) 0%, rgba(17,185,233,1) 0%, rgba(0,212,255,1) 100%);
}
    
        


.main{
    text-align: center;
    
}
.para{
   
    background-color: white;
    width: 300px;
    border: 2px;
    height: 300px;
    list-style-type: circle;
    border-radius: 5px;
    overflow: scroll;
}

.dlt{
    border-radius: 30px none;
    color: red;
    background-color: white;
    border: none;
    font: weight 100px;
    margin-left: 8px;
   align-items: flex-end;
}

.edt{
    margin-left: 20px;
    background-color: white;
    border-radius: 20px;
    color: rgb(13, 132, 179);
    border-color: rgb(13, 132, 179);
    
}

.inside{
    margin-left: 0px;
    padding-left: 5px;
    text-align: left;
    list-style-type: disc;
    
}

.last{
    text-align: left;
}